[submodule "server"]
	path = server
	url = https://github.com/whr819987540/server.git
[submodule "torrent"]
	path = torrent
	url = git@github.com:whr819987540/torrent.git
[submodule "rpc"]
	path = rpc
	url = https://github.com/rpc.git
